@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #151720;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-y: auto;
}

.container {
    margin-top: 15px;
    height: 100vh;
}

h1 {

    color: rgb(24, 68, 130);
    font-size: 40px;
    font-weight: 900;
    text-shadow: 2px 2px rgb(240, 240, 253);
    text-align: center;
    margin: 15px 5px;
    padding: 15px;

}

h3 {
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.formContent {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 2px;
}

.form-content-sm {
    height: 65vh;
    width: 50%;
    border: 0.1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: 15px 10px 20px lightblue;
}


.input-file {
    display: none;
}


.custom-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #03071e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px 10px;
    font-size: 18px;
    font-weight: 700;
}

.icon {
    margin: 0 5px;
}


.file-label {
    text-align: center;
    font-size: 25px;
    margin: 25px 10px 10px 10px;
}


.file-name {
    font-size: 14px;
    color: #b7b7b7;
    text-align: center;
}

.file-container {
    margin-bottom: 20px;
}

.upload-container {
    width: 100%;
    max-width: 100%;
    margin: 20px 0 20px 0;
    padding: 20px 0 40px 0;
    /* border: 1px solid white; */
    position: relative;

}

h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: white;
    padding-bottom: 20px;
}

/* .uploaded-image,
.uploaded-video {} */

.uploaded-image img {
    width: 50%;
    height: 50vh;
    margin: auto;
    display: block;
}

.uploaded-video video {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 50vh;
    margin: auto;
    display: block;
}

.uploaded-image .close-button,
.uploaded-video .close-button {
    font-size: 20px;
    color: white;
    border: none;
    position: absolute;
    top: 10%;
    right: 20%;
}

@media screen and (max-width: 1050px) {
    .form-content-sm {
        height: 60vh;
        width: 70vw;
        margin: 20px;
        padding: 25px;
    }

    .file-label {
        font-size: 22px;
        margin: 25px 25px 20px 10px;
    }

    .custom-button {
        display: inline-block;
        padding: 10px 5px;
        margin: 5px 10px;
        font-size: 16px;
        font-weight: 700;
    }

    .file-name {
        font-size: 12px;
    }

    h1 {
        font-size: 35px;

    }

    .upload-container {
        width: 100%;
        max-width: 100%;
        margin: 50px 0 40px 0;
        padding: 20px 0 20px 0;
        border: 1px solid white;

    }

    .uploaded-image img {
        width: 60%;
        height: 40vh;
        margin: auto;
        display: block;
    }

    .uploaded-video video {
        max-width: 100%;
        max-height: 100%;
        width: 60%;
        height: 40vh;
        margin: auto;
        display: block;
        border: 1px solid yellow;
    }

    h4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 460px) {
    .form-content-sm {
        height: 60vh;
        width: 80vw;
        border: 1px solid pink;

    }

    .file-label {
        font-size: 15px;
        text-align: center;
    }

    .custom-button {
        display: inline-block;
        padding: 12px 15px;
        margin: 5px 8px;
        font-size: 12px;
        font-weight: 700;
    }

    .file-name {
        font-size: 10px;
    }

    h1 {
        font-size: 25px;

    }

    .uploaded-image img {
        width: 70%;
        height: 35vh;
        margin: auto;
        display: block;
    }

    .uploaded-video video {
        max-width: 100%;
        max-height: 100%;
        width: 70%;
        height: 35vh;
        margin: auto;
        display: block;
        border: 1px solid yellow;
    }

    h4 {
        font-size: 15px;
    }
}